<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Hospital</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <ng-container *ngIf="accountService.currentUser$ | async">
            <li class="nav-item">
              <a class="nav-link" routerLink="/doctors" routerLinkActive="active">Doctors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
            </li>
          </ng-container>
        </ul>

        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit) ="login()" autocomplete="off">
          <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2"
            type="text"
            placeholder="Username">
          <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-2"
            type="password"
            placeholder="Password">
          <button class="btn btn-success" type="submit">Login</button>
        </form>
        
        <form *ngIf="(accountService.currentUser$  | async) as user" #loginForm="ngForm" class="d-flex" (ngSubmit) ="logout()" autocomplete="off">
          <a class="text-light text-decoration-none ms-2" style="padding-top: 5px; padding-right: 15px;">Welcome: {{ user.username }}</a>
          <button class="btn btn-success" type="submit">Logout</button>
        </form>
      </div>
  </nav>